.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

h2 {
  font-weight: 650;
  font-size: 42px;
  line-height: 34px;
  letter-spacing: +0.38;
  display: inline-block;
  vertical-align: top;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 28px;
  letter-spacing: -0.26;
  display: inline-block;
  vertical-align: top;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.45;
  display: inline-block;
  vertical-align: top;
}